@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
    --text: #050505;
    --bg: #fafafa;
    --primary: #232323;
    --secondary: #e6e6e6;
    --accent: #3469cb;
}

* {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
}

body {
    display: flex;

    height: 100vh;
    
    background-color: var(--bg);
}